<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TBVAssetsPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D68529F01D84DD2700359C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6852A091D84DD2700359C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6852A141D84DD2700359C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
